<article class="repertoire-item" data-index="{{@index}}">
    <div class="repertoire-item__info">
        <h3 class="repertoire-item__title">{{content.title}}</h3>
        <p class="repertoire-item__text">{{content.text}}</p>
        {{> components/secondary-btn/secondary-btn href=content.link title='Посмотреть видео'}}
    </div>
    <div class="repertoire-item__slider" data-image="0">
        <img class="repertoire-item__image" src="img/repertoire/{{content.src}}" alt="">
        <ul class="repertoire-item__slider-toggles-list">
            {{#times content.count}}
                <li class="repertoire-item__slider-toggle {{set_active ../index}}"></li>
            {{/times}}
        </ul>
        {{> components/preloader/preloader}}
    </div>
</article>